@inject Leaderboard.Services.IMessageQueue Messages

@{
    var modalAction = ViewData["DataModalAction"] ?? "?handler=modal";
    var modalMethod = ViewData["DataModalMethod"] ?? "POST";
    var showModal = (ViewData["DataModalShow"] ?? false).ToString().ToLower();
    var allowModalClose = Convert.ToBoolean(ViewData["AllowModalClose"]);
    var modalBackdrop = allowModalClose ? "true" : "static";
    var modalCancelText = ViewData["ModalCancelText"] ?? "Cancel";
    var modalConfirmText = ViewData["ModalConfirmText"] ?? "Confirm";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Leaderboard</title>
    <react-bundle src="css/site.[hash].css" />
    @RenderSection("styles", required: false)
</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-bold navbar-expand-sm navbar-toggleable-sm box-shadow">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Leaderboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="nav" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="Contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        @* Usually, I avoid styling by ID, but admin-nav is unique *@
        @* <div id="admin-nav">
            <nav id="admin-nav-links" class="nav flex-column navbar-collapse collapse">
                <a href="" class="nav-item nav-link">words</a>
                <a href="" class="nav-item nav-link">words</a>
                <a href="" class="nav-item nav-link">words</a>
                <a href="" class="nav-item nav-link">words</a>
            </nav>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#admin-nav-links"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <strong>admin</strong>&nbsp;
                <span class="navbar-toggler-icon"></span>
            </button>
        </div> *@
    </header>
    @RenderSection("beforeContainer", required: false)
    <partial name="_StatusMessages" model="Messages.GetAllMessages()" />
    <react-root class="container @if (!IsSectionDefined("beforeContainer")) { <text>navbar-fixed-offset-mt </text> }pb-3">
        @RenderBody()
    </react-root>

    <footer class="border-top footer text-muted">
        <div class="container no-shadow">
            &copy; 2020 - Leaderboard - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <react-bundle src="js/site.[hash].js" />

    <!-- Root modal -->
    <form
        action="@modalAction"
        method="@modalMethod"
        class="modal fade"
        id="root-modal"
        data-show="@showModal"
        data-backdrop="@modalBackdrop"
        data-keyboard="false"
        tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">@ViewData["ModalTitle"]</h5>
            @if (allowModalClose)
            {
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            }
        </div>
        <div class="modal-body">
            @ViewData["modal-body"]
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">@modalCancelText</button>
            <button type="submit" class="btn btn-primary">@modalConfirmText</button>
        </div>
        </div>
    </div>
    @Html.AntiForgeryToken()
    </form>
    @RenderSection("scripts", required: false)
</body>

</html>